<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
</head>
<body>
<div class="am-cf">
  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-text-center">密码修改</div>
        <div class="am-panel-bd">
          <form id="inputForm" class="am-form am-form-horizontal" action="${base}/shop/member/passwordUpdate" method="post" data-am-validator>
          <input type="hidden" name="member.id" value="${member.id!}" />
          <input type="hidden" name="member.passwordRecoverKey" value="${member.passwordRecoverKey!}" />
          <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">新密码</label>
            <div class="am-u-sm-9">
              <input type="password" class="am-form-field" id="resetPassword" name="member.password" placeholder="密码：密码长度不能小于4" minlength="4" maxlength="20" required>
            </div>
          </div>
          <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">确认新密码</label>
            <div class="am-u-sm-9">
              <input type="password" class="am-form-field" name="rePassword" placeholder="重复密码" data-equal-to="#resetPassword" required>
            </div>
          </div>
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-offset-3">
              <button type="submit" class="am-btn am-btn-default">确  定</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</body>
</html>