<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
</script>
</head>
<body>
<%include("/shop/header.html"){}%>
<div class="am-cf shop-main">
  <!-- sidebar start -->
  <%include("/shop/sidebar.html"){}%>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="shop-content">
    <div class="shop-content-body">
      <ol class="am-breadcrumb am-margin-left am-margin-bottom-0">
        <li><span class="am-icon-info-circle am-icon-fw"> </span>个人资料</li>
        <li class="am-active">修改密码</li>
      </ol>

	  <form id="inputForm" class="validate" action="${base}/password/update" method="post" data-am-validator>
	  <div class="am-tabs am-margin-horizontal-sm am-text-sm" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
          <li class="am-active"><a href="#tab1">修改密码</a></li>
          <li><a href="#tab2">安全问题</a></li>
        </ul>
          
        <div class="am-tabs-bd am-form am-form-horizontal">
          <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            <div class="am-form-group am-form-group-sm">
              <label class="am-u-sm-3 am-form-label">旧密码</label>
              <div class="am-u-sm-8 am-u-end">
                <input type="password" class="am-form-field" name="oldPassword" placeholder="请输入旧密码!">
              </div>
            </div>
            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">新密码</label>
              <div class="am-u-sm-8 am-u-end">
                <input type="password" class="am-form-field" id="registerWindowPassword" name="member.password" placeholder="密码：密码长度不能小于4" maxlength="20">
              </div>
            </div>
            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">确认新密码</label>
              <div class="am-u-sm-8 am-u-end">
                <input type="password" class="am-form-field" placeholder="重复密码" data-equal-to="#registerWindowPassword">
              </div>
            </div>
            <div class="am-form-group">
              <div class="am-u-sm-8 am-u-sm-offset-3 am-text-warning">
                系统提示：若密码留空，则保持不变
              </div>
            </div>
          </div>
              
          <div class="am-tab-panel am-fade" id="tab2">
            <div class="am-form-group am-form-group-sm">
              <label class="am-u-sm-3 am-form-label">安全问题</label>
              <div class="am-u-sm-8 am-u-end">
                <input type="text" class="am-form-field" name="member.safeQuestion" placeholder="请输入安全问题!">
              </div>
            </div>
            <div class="am-form-group am-form-group-sm">
              <label class="am-u-sm-3 am-form-label">回答</label>
              <div class="am-u-sm-8 am-u-end">
                <input type="text" class="am-form-field" name="member.safeAnswer" placeholder="请输入回答!">
              </div>
            </div>
            <div class="am-form-group">
              <div class="am-u-sm-8 am-u-sm-offset-3 am-text-warning">
                系统提示：若安全问题留空，则保持不变
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="am-margin">
        <button type="submit" class="am-btn am-btn-primary"><span class="am-icon-save">  保  存</span></button>
      </div>		
      </form>
    </div>
    <%include("/shop/footer.html"){}%>
  </div>
  <!-- content end -->
</div>
</body>
</html>
