<!doctype html>
<html class="no-js fixed-layout">
<head>
<% include("/common/shop_head.html"){}%>
</head>
<body>
   <div class="shop-content">
    <div class="shop-content-body">
      <div class="am-cf am-margin">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">系统消息</strong> / <small>错误信息</small>
        </div>
      </div>
      
      <hr data-am-widget="divider" class="am-divider am-divider-dotted am-margin-0" />

      <div class="am-g">
        <div class="am-u-sm-12">
          <h2 class="am-text-center am-text-lg am-margin-top-lg am-text-danger">${errorMessages!您的操作出现错误!}</h2>
          <pre class="page-404">
            .----.
         _.'__    `.
     .--($)($$)---/#\
   .' @          /###\
   :         ,   #####
    `-..__.-' _.-\###/
          `;_:    `"'
        .'"""""`.
       /,      ,\\
      //         \\
      `-._______.-'
      ___`. | .'___
     (______|______)
          </pre>
          <p class="am-text-center">
            <%if (!isEmpty(redirectionUrl)){%>
              点击<a href="${redirectionUrl!}">确定</a>，或<a href="${base}/" onclick="window.history.back(); return false;">返回</a>
            <%}else{%>
              点击此处<a href="${base}/" onclick="window.history.back(); return false;">返回</a>或回到<a href="${base}/">首页</a>
            <%}%>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


	<div class="body">
		<div class="errorBox">
			<div class="errorDetail">
				<div class="errorContent">
					
				</div>
				<div class="errorUrl">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>