  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list" id="collapase-nav">
        <li class="am-panel"><a href="${base}/admin" target="mainFrame"><span class="am-icon-home"></span> 首页</a></li>
        <%for(menu in menuList!){%>
        <li class="am-panel">
          <a class="am-cf" data-am-collapse="{parent: '#collapase-nav', target: '#collapse-nav-${menu.id!}'}">
            <span class="${menu.icon}"> ${menu.name!}</span> 
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-${menu.id!}">
            <%for(children in menu.children!){%>
            <li>
              <a href="${base}${children.url!}" target="mainFrame">
                <span class="${children.icon}"> ${children.name!}</span> 
              </a>
            </li>
            <%}%>
          </ul>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->