<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxgm.dao.StaffDistributionMapper">
  <resultMap id="BaseResultMap" type="com.cxgm.domain.StaffDistribution">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, admin_id, order_id, status, address_id, create_time,cancel_reason,shop_id
  </sql>
  <select id="selectByExample" parameterType="com.cxgm.domain.StaffDistributionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cxgm.domain.StaffDistributionExample">
    delete from staff_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cxgm.domain.StaffDistribution" useGeneratedKeys="true">
    insert into staff_distribution (admin_id, order_id, status, 
      address_id, create_time,cancel_reason,shop_id)
    values (#{adminId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{addressId,jdbcType=INTEGER}, NOW(),#{cancelReason,jdbcType=VARCHAR},#{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cxgm.domain.StaffDistribution" useGeneratedKeys="true">
    insert into staff_distribution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cxgm.domain.StaffDistributionExample" resultType="java.lang.Long">
    select count(*) from staff_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="findByOrderId" parameterType="java.lang.Integer" resultType="com.cxgm.domain.StaffDistribution">
    select sd.id, sd.admin_id, sd.order_id, sd.status, sd.address_id, sd.create_time,sd.cancel_reason,sd.shop_id,ad.phone as psPhone from staff_distribution as sd 
    left join admin as ad on sd.admin_id=ad.id where order_id=#{orderId,jdbcType=INTEGER}
    
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update staff_distribution
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.addressId != null">
        address_id = #{record.addressId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update staff_distribution
    set id = #{record.id,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      address_id = #{record.addressId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      shop_id = #{record.shopId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="selectHomePageNum" parameterType="map" resultType="com.cxgm.domain.FjpsHomePage">
   
 select * from((select count(1) as todayDpsNum from user_order where store_id=#{shopId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT(order_time, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=3) as temp7,
(select count(1) as todayWpsNum from staff_distribution where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT(create_time, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=5) as temp, 


(select count(1) as weekWpsNum from staff_distribution where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT((select date_sub(now(),interval 1 week)),'%Y-%m-%d') < DATE_FORMAT(create_time, '%Y-%m-%d')and DATE_FORMAT(create_time, '%Y-%m-%d')<=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=5) as temp1,


(select count(1) as monthWpsNum from staff_distribution where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT((select date_sub(now(),interval 1 month)),'%Y-%m-%d') < DATE_FORMAT(create_time, '%Y-%m-%d')and DATE_FORMAT(create_time, '%Y-%m-%d')<=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=5) as temp2,

(select count(1) as todayDfjNum from user_order where store_id=#{shopId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT(order_time, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=1) as temp3,


(select count(1) as todayWfjNum from staff_sorting where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT(create_time, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=3) as temp4,

(select count(1) as weekWfjNum from staff_sorting where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT((select date_sub(now(),interval 1 week)),'%Y-%m-%d') < DATE_FORMAT(create_time, '%Y-%m-%d')and DATE_FORMAT(create_time, '%Y-%m-%d')<=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=3) as temp5,

(select count(1) as monthWfjNum from staff_sorting where admin_id=#{adminId,jdbcType=INTEGER} and <![CDATA[DATE_FORMAT((select date_sub(now(),interval 1 month)),'%Y-%m-%d') < DATE_FORMAT(create_time, '%Y-%m-%d')and DATE_FORMAT(create_time, '%Y-%m-%d')<=DATE_FORMAT(NOW(), '%Y-%m-%d')]]> and `status`=3) as temp6)
   
  </select>
</mapper>