/* Write your styles */
.app-padding-title {
	padding: 10.5px;
}

.app-padding-toolbar-item {
	padding: .5px;
}

.app-padding-toolbar {
	padding: 8px;
}

.app-table-button-padding {
	padding: 4px 6px 2px;
}

.app-table-td-buttons-width-120 {
	width: 120px;
}
.app-table-td-buttons-width-160 {
	width: 160px;
}

.app-text-truncate-product-name {
	width: 350px;
}
.app-text-truncate-article-title {
	width: 300px;
}

.app-min-height {
	min-height: 300px;
}

.app-product-image div.am-thumbnail img,
.app-banner-image div.am-thumbnail img {
	height: 200px;
	width: 100%;
}

.app-product-image-preview,
.app-banner-image-preview {
	height: 200px;
	width: 100%;
	line-height: 200px;
}

.app-border-0 {
	border: 0;
}

.hidden {
	display: none;
}

