<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title:'管理中心'}){}%>
</head>
<script>
$().ready(function() {
  if(self.location==top.location){
    location.href='/admin/center';
  }else{
	
  }
});
</script>
<body>
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf app-padding-title">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">首页</strong> / <small>管理中心</small>
        </div>
      </div>

      <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted am-margin-top-0" />

      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br />总的订单数<br />${totalOrderCount!}</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br />待处理订单数<br />${hadOrderCount!}</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br />已完成订单<br />${finishOrderCount!}</a></li>
      </ul>

      <div class="am-g">
        <div class="am-u-md-6">
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">
              系统信息统计<span class="am-icon-chevron-down am-fr"></span>
            </div>
            <div id="collapse-panel-1" class="am-in">
              <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                <tbody>
                  <tr>
                    <td>已上架商品:</td>
                    <td>${haveMarketable!}</td>
                  </tr>
                  <tr>
                    <td>已下架商品:</td>
                    <td>${unMarketable!}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="am-u-md-6">
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">
            服务器信息<span class="am-icon-chevron-down am-fr"></span>
            </div>
            <div id="collapse-panel-2" class="am-in">
              <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                <tbody>
                  <tr>
                    <td>服务器IP:</td>
                    <td>47.104.226.173</td>
                  </tr>
                  <tr>
                    <td>操作系统:</td>
                    <td>LINUX</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>