<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title: '生成优惠码', validatorJS: true}){}%>
<%var isAdd = false;
  var isEdit = false;
  if(isEmpty(coupon.id)){
	isAdd = true;
  }else{
	isEdit = true;
  }%>
</head>
<body>
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf app-padding-title">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">优惠码</strong> / <small>生成优惠码</small>
      </div>
    </div>
  
    <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
    
    <form class="validator-form" class="am-form" action="<%if (isAdd){%>/couponcode/save<%}else{%>/coupon/update<%}%>" method="post">
    <input type="hidden" name="coupon.id" value="${coupon.id!}" />
    <input type="hidden" name="type" value="${type!}" />
    <div class="am-form am-margin am-form-horizontal" >
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">名称</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.name" value="${coupon.name!}" required />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用起始日期</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.beginDate" value="${coupon.beginDate!,dateFormat='yyyy-MM-dd HH:mm'}"  />
        </div>
      </div>
       <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用结束日期</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.beginDate" value="${coupon.endDate!,dateFormat='yyyy-MM-dd HH:mm'}"  />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">生成数量</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="number" class="am-form-field" name="coupon.codes"  placeholder="只允许输入正整数" min="0" max="10000" required />
        </div>
      </div>
      <hr data-am-widget="divider" class="am-divider am-divider-dashed" />
      <div class="am-form-group am-form-group-sm">
        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-md-9 am-u-md-offset-3">
          <button type="submit" class="am-btn am-btn-primary"><span class="am-icon-save">  保  存</span></button>
          <button type="button" class="am-btn am-btn-default" onclick="window.history.back(); return false;"><span class="am-icon-undo">  返  回</span></button>
        </div>
      </div>
    </div>
    </form>
  </div> 
</div>
<!-- content end -->
</body>
</html>