<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title: '生成优惠码', validatorJS: true}){}%>
<%var isAdd = false;
  var isEdit = false;
  if(isEmpty(couponCode.id)){
	isAdd = true;
  }else{
	isEdit = true;
  }%>
</head>
<body>
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf app-padding-title">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">优惠码</strong> / <small>优惠码详情</small>
      </div>
    </div>
  
    <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
    
    <form class="validator-form" class="am-form" action="/couponcode/save" method="post">
    <input type="hidden" name="coupon.id" value="${coupon.id!}" />
    <input type="hidden" name="type" value="${type!}" />
    <div class="am-form am-margin am-form-horizontal" >
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">名称</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.name" value="${coupon.name!}" required />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用起始日期</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.beginDate" value="${coupon.beginDate!,dateFormat='yyyy-MM-dd HH:mm'}"  />
        </div>
      </div>
       <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用结束日期</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.beginDate" value="${coupon.endDate!,dateFormat='yyyy-MM-dd HH:mm'}"  />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">总数</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.totalNumber" value="${coupon.totalNumber!}" />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">已使用</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.usedNumber" value="${coupon.usedNumber!}" />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">未使用</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.unusedNumber" value="${coupon.unusedNumber!}" />
        </div>
      </div>
       <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">被领取</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.dispatchNumber" value="${coupon.dispatchNumber!}" />
        </div>
      </div>
      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">过期数量</label>
        <div class="am-u-sm-8 am-u-md-9">
          <input type="text" class="am-form-field" name="coupon.overdueNumber" value="${coupon.overdueNumber!}" />
        </div>
      </div>
      <hr data-am-widget="divider" class="am-divider am-divider-dashed" />
      <div class="am-form-group am-form-group-sm">
        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-md-9 am-u-md-offset-3">
          <button type="button" class="am-btn am-btn-default" onclick="window.history.back(); return false;"><span class="am-icon-undo">  返  回</span></button>
        </div>
      </div>
    </div>
    </form>
  </div> 
</div>
<!-- content end -->
</body>
</html>