<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title: '添加/编辑优惠券', loadUE: true, validatorJS: true, livequeryJS: true,WdateJS: true}){}%>
<%
var isAdd = false;
var isEdit = false;
if(isEmpty(coupon.id)){
  isAdd = true;
}else{
  isEdit = true;
}%>
</head>
<body>
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf app-padding-title">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">优惠券管理</strong> / <small><%if(isAdd){%>添加优惠券<%}else{%>编辑优惠券<%}%></small>
      </div>
    </div>

    <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
    
    <form class="validator-form" action="<%if (isAdd){%>/coupon/save<%}else{%>/coupon/update<%}%>" enctype="multipart/form-data" method="post">
    <input type="hidden" name="coupon.id" value="${coupon.id!}" />
    <input type="hidden" name="coupon.shop" value="${shopId!}" />
    <div class="am-tabs am-margin" data-am-tabs="{noSwipe: 1}" id="doc-my-tabs">
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">基本信息</a></li>
        <li><a href="#tab3">介绍</a></li>
      </ul>

      <div class="am-tabs-bd am-form am-tabs-bd-ofv">
        <div class="am-tab-panel am-fade am-in am-active am-form-horizontal" id="tab1">
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">名称</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="coupon.name" value="${coupon.name!}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">优惠券类型</label>
            <div class="am-u-sm-8 am-u-md-9">
              <select name="coupon.type" data-am-selected="{btnWidth: '100%', maxHeight: '200px', btnSize: 'sm', btnStyle: 'secondary'}">
	            <option value="1" selected>满减</option>
	            <option value="2" >消费</option>
	            <option value="3" >代金</option>
				</option>
	          </select>
            </div>
          </div>
           <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">优惠券满</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="coupon.minimumPrice" value="${coupon.minimumPrice!}" required />
            </div>
          </div>
           
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">优惠券减</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="coupon.priceExpression" value="${coupon.priceExpression!}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">是否启用</label>
            <div class="am-u-sm-8 am-u-md-9 am-btn-group" data-am-button>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="coupon.isEnabled" value="true"<%if (isAdd || coupon.isEnabled == true){%> checked<%}%> required> 是
                </label>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="coupon.isEnabled" value="false"<%if (coupon.isEnabled! == false){%> checked<%}%>> 否
                </label>
            </div>
          </div>
       
            <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">所有商品</label>
            <div class="am-u-sm-8 am-u-md-9">
            <input type="hidden" id="productId" name="productId" />
            <input type="text" class="am-form-field"  id="goodName" name="goodName" value="${coupon.productId!}" onkeyup="test(this.value,event)"><br/>
			<select multiple="multiple" id="sel" onchange="test2()"
				style="width:300px;display:none">
			</select>
			</div>
           </div>
       
       
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品分类</label>
            <div class="am-u-sm-8 am-u-md-9">
             <select id="firstCategory" name="parentId" data-am-selected="{btnWidth: '30%', maxHeight: '200px', btnSize: 'sm', btnStyle: 'secondary'}">
            <option value="0" selected>请选择...</option>
            <%for(list in productCategoryTreeList){%>
            <option value="${list.id}">
			  ${list.name}
			</option>
			
		
            <%}%>
          </select>
          <select id="secondCategory" name="parentSecondId" data-am-selected="{btnWidth: '35%', maxHeight: '200px', btnSize: 'sm', btnStyle: 'secondary'}">
          <option value="0" selected>请选择...</option>
          </select>
          <select id="thirdCategory" name="parentThirdId" data-am-selected="{btnWidth: '30%', maxHeight: '200px', btnSize: 'sm', btnStyle: 'secondary'}">
          <option value="0" selected>请选择...</option>
          </select>
        </div>
          </div>
       <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用起始日期</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field Wdate"  id="startDate" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'endDate\')}'})" name="coupon.beginDate" value="${coupon.beginDate!,dateFormat='yyyy-MM-dd HH:mm'}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">使用结束日期</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field Wdate" id="endDate" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'2120-10-01'})" name="coupon.endDate" value="${coupon.endDate!,dateFormat='yyyy-MM-dd HH:mm'}"  />
            </div>
          </div>
         </div>
        <div class="am-tab-panel am-fade" id="tab3">
          <div class="am-form-group am-form-group-sm">
            <script id="editor" name="coupon.introduction" type="text/plain">
              ${coupon.introduction!}
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="am-margin">
      <button type="submit" class="am-btn am-btn-primary"> 保  存 </button>
      <button type="button" class="am-btn am-btn-default" onclick="window.history.back(); return false;"> 返  回 </button>
    </div>
    </form>
  </div>
</div>
<!-- content end -->
<script>
  $().ready(function() {
    
    $('#doc-my-tabs').find('a').on('opened.tabs.amui', function(e) {
      $('div.am-tab-panel').removeAttr("style");
    })
  });
//下拉选择商品
  function test(keyword,event){
	
	//定义全局变量
	var keyword = $("#goodName").val();
	var sel = document.getElementById("sel");
	var shopId = $("#shopId").val();
	$.ajax({ 
		type: "post", 
		data:{'goodName':keyword,'shopId':shopId}, 
		url: "/appGood/list", 
		success: function(data) {
			
			document.getElementById("sel").innerHTML="";
			
			for(var i=0;i<data.length;i++){//循环每一个满足条件的记录
				//将当前循环满足条件的商品名称生成一个下拉的选项
				sel.options[i]=new Option(data[i].name,data[i].id);
			}
			//判断是否有满足条件的商品
			if(data.length>0){
				sel.style.display='block';
			}else{
				sel.style.display='none';
			}
			//当用户按下上下键时获取相应的值
			if(event.keyCode==40){
				sel.focus();
			}	
		} 
		});
}
 
 function test2(){
	//输入回车，获取输入框内容焦点
	$("#sel").keypress(function(){
			$("#goodName").focus();
			$("#sel").css("display","none");
	});
	 //双击，获取输入框内容焦点
	 $("#sel").dblclick(function(){
		 $("#goodName").focus();
		 $("#sel").css("display","none");
	 });
	 //将选中的下拉列表中的内容添加到输入框中
	$("#goodName").val($("#sel option:selected").html());
	$("#productId").val($("#sel option:selected").val());
	
}
 
 $("#firstCategory").change(function(){
	 var firtstCategoryId = $("#firstCategory").val();
	$("#secondCategory").html('')
	$.ajax({
		type: "post", 
		data:{'firstCategoryId':firtstCategoryId}, 
		url: "/secondCategory/list", 
		success: function(data) {
			$("#secondCategory").append("<option value='0' selected>请选择...</option>");
			$.each(data,function(index,value){
				$("#secondCategory").append("<option value='"+value.id+"'>"+value.name+"</option>");
			})
			
		} 
		
	})
 })
 
  $("#secondCategory").change(function(){
	 var secondCategoryId = $("#secondCategory").val();
	$("#thirdCategory").html('')
	$.ajax({
		type: "post", 
		data:{'secondCategoryId':secondCategoryId}, 
		url: "/thirdCategory/list", 
		success: function(data) {
			$("#thirdCategory").append("<option value='0' selected>请选择...</option>");
			$.each(data,function(index,val){
				$("#thirdCategory").append("<option value='"+val.id+"'>"+val.name+"</option>");
			})
			
		} 
		
	})
 })

</script>
</body>
</html>