<!doctype html>
<html class="no-js">
<head>
<% include("/common/admin_head.html",{title: '发件箱', loadListJS: true}){}%> 
</head>
<body>
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf app-padding-title">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">系统管理</strong> / <small>发件箱</small>
        </div>
      </div>
      
      <hr data-am-widget="divider" class="am-divider am-divider-dotted am-margin-0" />
      
      <form class="am-form" id="listForm" action="${base}/message/outbox" method="post">
      <div class="am-g app-padding-toolbar">
        <div class="am-u-sm-7 am-u-md-4">
          <div class="am-btn-toolbar app-padding-toolbar-item">
            <div class="am-btn-group am-btn-group-sm">
              <button type="button" class="am-btn am-btn-default" onclick="location.href='${base}/message/send';"><span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default" onclick="deleteAll('${base}/message/delete');" id="deleteButton" disabled="disabled"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          </div>
        </div>
        <div class="am-u-sm-5 am-u-md-4 am-padding-0">
          <div class="app-padding-toolbar-item">
            <select name="property" data-am-selected="{btnWidth: '100%', btnSize: 'sm'}">
              <option value="mb.username" <%if (property! == "mb.username"){%>selected="selected" <%}%>>发件人</option>
		      <option value="title" <%if (property! == "title"){%>selected="selected" <%}%>>标题</option>
            </select>
          </div>
        </div>
        
        <div class="am-u-sm-12 am-show-sm-only am-margin-xs"></div>
        
        <div class="am-u-sm-12 am-u-md-4 am-padding-right-0">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="keyword" value="${keyword!}" />
            <span class="am-input-group-btn">
              <button id="searchButton" class="am-btn am-btn-default" type="button">搜索</button>
            </span>
          </div>
        </div>
      </div>
      
      <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
      
      <div class="am-scrollable-horizontal">
        <table class="am-table am-table-striped am-table-hover table-main am-text-nowrap am-margin-bottom-0">
          <thead>
            <tr>
              <th><input type="checkbox" id="allCheck"></th>
              <th>序号</th>
              <th>标题</th>
              <th>收件人</th>
              <th>已读</th>
              <th>日期</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <%for(list in pager.list){%>
            <tr>
              <td><input type="checkbox" name="ids" value="${list.id}"></td>  
              <td>${listLP.index}</td>              
              <td>${list.title}</td>
              <td>${list.toMember.username!}</td>
              <td>
	            <%if (list.isRead){%>
				<span class="am-text-secondary">是</span>
				<%}else{%>
				<span class="am-text-danger">否</span>
				<%}%>
			  </td>
              <td>${list.createDate,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
              <td>${list.content!}</td>
            </tr>
            <%}%> 
          </tbody>
        </table>
      </div>
      <!-- 分页 -->
      <%if (pager.list.~size > 0){%>
      <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />    
      <div class="am-margin-left am-text-xs"><% include("/admin/pager.html"){}%></div>
      <%}else{%>
      <h3 class="am-kai am-text-center am-margin-xs">没有找到任何记录!</h3>
      <%}%>
      </form>
    </div>
  </div>
<!-- content end -->
</body>
</html>