<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title: '订单列表', loadListJS: true}){}%>
</head>
<body>
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf app-padding-title">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">订单管理</strong> / <small>订单列表</small>
        </div>
      </div>
      
      <hr data-am-widget="divider" class="am-divider am-divider-dotted am-margin-0" />
      
      <form class="am-form" id="listForm" action="/order/list" method="post">
      <div class="am-g app-padding-toolbar">
        <div class="am-u-sm-6 am-u-md-4">
          <div class="am-btn-toolbar app-padding-toolbar-item">
            <div class="am-btn-group am-btn-group-sm">
             <!--  <button type="button" class="am-btn am-btn-default" onclick="deleteAll('/order/delete');" id="deleteButton" disabled="disabled"><span class="am-icon-trash-o"></span> 删除</button> -->
            </div>
          </div>
        </div>
        <div class="am-u-sm-6 am-u-md-4 am-padding-0">
          <div class="app-padding-toolbar-item">
            <select name="property" data-am-selected="{btnWidth: '100%', btnSize: 'sm', maxHeight: '100px'}">
              <option value="orderNum" <%if (property! == "orderNum"){%>selected="selected" <%}%>>订单编号</option>
		      <option value="status" <%if (property! == "status"){%>selected="selected" <%}%>>订单状态</option>
		      <option value="totalAmount" <%if (property! == "totalAmount"){%>selected="selected" <%}%>>订单总额</option>
            </select>
          </div>
        </div>
        
        <div class="am-u-sm-12 am-show-sm-only am-margin-xs"></div>
        
        <div class="am-u-sm-12 am-u-md-4 am-padding-right-0">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="keyword" value="${keyword!}" />
            <span class="am-input-group-btn">
              <button id="searchButton" class="am-btn am-btn-default" type="button">搜索</button>
            </span>
          </div>
        </div>
      </div>
      
      <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
      
      <div class="am-scrollable-horizontal">
        <table class="am-table am-table-striped am-table-hover table-main am-text-nowrap am-margin-bottom-0">
          <thead>
            <tr>
              <th>序号</th>
              <th>订单编号</th>
              <th>订单来源</th>
              <th>订单总额</th>
              <th>状态</th>
              <th>配送方式</th>
              <th>下单时间</th>
              <th>收货时间</th>
              <th><div class="app-table-td-buttons-width-160">操作</div></th>
            </tr>
          </thead>
          <tbody>
            <%for(list in pager.list){%>
            <tr id="listTr${listLP.index}">
              <td>${listLP.index}</td>              
              
              <td>${list.orderNum}</td>
              <td>${list.orderResource}</td>
              <td>${list.totalAmount}</td>
              <td>${list.status}</td>
              <td>${list.payType}</td>
              <td>${list.orderTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
              <td>${list.receiveTime}</td>
              <td>
              <!-- 
             订单状态0待支付，1待配送（已支付），2配送中，3已完成，4退货，5已取消
              -->
              <%if (list.status == '待退款'){%>
                <div class="am-btn-group am-btn-group-xs">
                <!--   <button type="button" class="am-btn am-btn-default am-btn-xs am-text-success app-table-button-padding" onclick="location.href='/order/view?orders.id=${list.id}'">
                    <span class="am-icon-file-o"> 查看</span>
                  </button>
                  <%if ((list.status != 'completed') && (list.status != 'invalid') && (list.status == 'unpaid') && (list.status == 'unshipped')){%>
                  <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary app-table-button-padding" onclick="location.href='/order/edit?orders.id=${list.id}'">
                    <span class="am-icon-pencil"> 编辑</span>
                  </button>
                  <%}%> -->
                  <button type="button" class="am-btn am-btn-default am-btn-xs am-text-warning app-table-button-padding" onclick="updateOne('/order/process?orders.id=${list.id}')">
                    <span class="am-icon-hand-o-up"> 处理</span>
                  </button>
                </div>
                <%}%>
              </td> 
            </tr>
            <%}%> 
          </tbody>
        </table>
      </div>
      <!-- 分页 -->
      <%if (pager.list.~size > 0){%>
      <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />    
      <div class="am-margin-left am-text-xs"><% include("pager.html"){}%></div>
      <%}else{%>
      <h3 class="am-kai am-text-center am-margin-xs">没有找到任何记录!</h3>
      <%}%>
      </form>
    </div>
  </div>
<!-- content end -->
</body>
</html>
