<!doctype html>
<html class="no-js">
<head>
<% include("admin_head.html",{title: '添加/编辑商品', loadUE: true, validatorJS: true, livequeryJS: true}){}%>
<%
var isAdd = false;
var isEdit = false;
if(isEmpty(product.id)){
  isAdd = true;
}else{
  isEdit = true;
}%>
</head>
<body>
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf app-padding-title">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">商品管理</strong> / <small><%if(isAdd){%>添加商品<%}else{%>编辑商品<%}%></small>
      </div>
    </div>

    <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
    
    <form class="validator-form" action="<%if (isAdd){%>/product/save<%}else{%>/product/update<%}%>" enctype="multipart/form-data" method="post">
    <input type="hidden" name="product.id" value="${product.id!}" />
    <input type="hidden" name="product.shop" value="${shopId!}" />
    <div class="am-tabs am-margin" data-am-tabs="{noSwipe: 1}" id="doc-my-tabs">
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">基本信息</a></li>
        <li><a href="#tab2">商品图片</a></li>
        <li><a href="#tab3">商品描述</a></li>
      </ul>

      <div class="am-tabs-bd am-form am-tabs-bd-ofv">
        <div class="am-tab-panel am-fade am-in am-active am-form-horizontal" id="tab1">
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品名称</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.name" value="${product.name!}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品编号</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.productSn" value="${product.sn!}" placeholder="若留空则由系统随机生成" />
            </div>
          </div>
                   <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">原产地</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.originPlace" value="${product.originPlace!}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">储存条件</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.storageCondition" value="${product.storageCondition!}"  />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">净含量</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.descriptionWeight" value="${product.weight!}" />
            </div>
          </div>
          
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品分类</label>
            <div class="am-u-sm-8 am-u-md-9">
          <%if(isAdd){%>
          <select name="parentId" data-am-selected="{btnWidth: '100%', maxHeight: '200px', btnSize: 'sm', btnStyle: 'secondary'}">
            <option value="0" selected>请选择...</option>
            <%for(list in productCategoryTreeList){%>
            <option value="${list.id}">
			  ${list.name}
			</option>
			
			<%for(child in list.childCategory){%>
					<option value="${child.id}">
					  <%if (child.grade == 1){%>
					  <%for( i in range(0,child.grade)){%>--<%}%>
					  <%}%>
					  ${child.name}
					</option>
					
						<%for(childTwo in child.childCategory){%>
							<option value="${childTwo.id}">
							  <%if (childTwo.grade == 2){%>
							  <%for( i in range(0,childTwo.grade)){%>--<%}%>
							  <%}%>
							  ${childTwo.name}
							</option>
				<%}%>
				<%}%>
            <%}%>
          </select>
          <%}else{%>
          <select name="parentId" data-am-selected="{btnWidth: '100%', btnSize: 'sm'}">
           <%for(list in productCategoryTreeList){%>
            <option value="${list.id}" <%if (product.productCategoryThirdId! == list.id!){%>selected="selected" <%}%>>${list.name!}</option>
			
			<%for(child in list.childCategory){%>
					<option value="${child.id}" <%if (product.productCategoryThirdId! == child.id!){%>selected="selected" <%}%>>
					  <%if (child.grade == 1){%>
					  <%for( i in range(0,child.grade)){%>--<%}%>
					  <%}%>
					  ${child.name}
					</option>
					<%for(childTwo in child.childCategory){%>
							<option value="${childTwo.id}" <%if (product.productCategoryThirdId! == childTwo.id!){%>selected="selected" <%}%>>
							  <%if (childTwo.grade == 2){%>
							  <%for( i in range(0,childTwo.grade)){%>--<%}%>
							  <%}%>
							  ${childTwo.name}
							</option>
				<%}%>
				<%}%>
            <%}%>
           
		</select>
          <%}%>
        </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品品牌</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="text" class="am-form-field" name="product.brand" value="${product.brandName!}" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">本店原价</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="number" class="am-form-field" name="originalPrice" value="${product.originalPrice!0}" min="0" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">本店现价</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="number" class="am-form-field" name="product.price" value="${product.price!0}" min="0" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">市场售价</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="number" class="am-form-field" name="product.marketPrice" value="${product.marketPrice!0}" min="0" required />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">商品重量</label>
            <div class="am-u-sm-5 am-u-md-7">
              <input type="number" class="am-form-field" name="product.weight" value="${product.weight!0}" placeholder="0表示不计重量" min="0" required />
            </div>
            <div class="am-u-sm-3 am-u-md-2">
              <select name="weightUnit" data-am-selected="{btnWidth: '100%', maxHeight: '200px', btnSize: 'sm'}" required>
              	<option value="g" selected>克</option>
              </select>
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">库存量</label>
            <div class="am-u-sm-8 am-u-md-9">
              <input type="number" class="am-form-field" name="product.stock" value="${product.stock!}" placeholder="只允许输入零或正整数，为空表示不计库存" min="0" max="10000" />
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">是否上架</label>
            <div class="am-u-sm-8 am-u-md-9 am-btn-group" data-am-button>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="product.isMarketable" value="true"<%if (isAdd || product.isMarketable == true){%> checked<%}%> required> 是
                </label>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="product.isMarketable" value="false"<%if (product.isMarketable! == false){%> checked<%}%>> 否
                </label>
            </div>
          </div>
          <div class="am-form-group am-form-group-sm">
            <label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">是否精品</label>
            <div class="am-u-sm-8 am-u-md-9 am-btn-group" data-am-button>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="product.isTop" value="true"<%if (isAdd || product.isTop == true){%> checked<%}%> required> 是
                </label>
                <label class="am-btn am-btn-default am-btn-xs">
                  <input type="radio" name="product.isTop" value="false"<%if (product.isTop! == false){%> checked<%}%>> 否
                </label>
            </div>
          </div>
        </div>

        <div class="am-tab-panel am-fade app-min-height app-product-image" id="tab2">
          <ul class="am-avg-sm-2 am-avg-md-4 am-thumbnails" id="file-list">
            <%for(list in product.productImageList!){%>
            <li>
              <div class="am-thumbnail">
                <input type="hidden" name="productImageIds" value="${list.id}" />
                <input type="hidden" name="productImageParameterTypes" value="productImageId" />
                <img src="${list.url}" class="am-img-bdrs">
                <ul class="am-thumbnail-caption am-avg-sm-3">
                  <li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-left"><span class="am-icon-chevron-left"></span></button></li>
                  <li><button type="button" class="am-btn am-btn-default am-text-danger am-btn-xs am-center opr-img-delete"><span class="am-icon-trash"></span></button></li>
                  <li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-right"><span class="am-icon-chevron-right"></span></button></li>
                </ul>
                <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
                <ul class="am-thumbnail-caption am-avg-sm-1">
                  <li>
                    <div class="am-form-group am-form-file">
                      <button type="button" class="am-btn am-btn-success am-btn-xs am-center" disabled="disabled">
                        <i class="am-icon-info-circle"></i> 已经上传
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <%}%>
            <li>
              <div class="am-thumbnail">
                <div class="app-product-image-preview am-text-center am-text-warning">
                  暂无图片
                </div>
                <ul class="am-thumbnail-caption am-avg-sm-3">
                  <li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-left"><span class="am-icon-chevron-left"></span></button></li>
                  <li><button type="button" class="am-btn am-btn-default am-text-danger am-btn-xs am-center opr-img-delete" disabled="disabled"><span class="am-icon-trash"></span></button></li>
                  <li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-right"><span class="am-icon-chevron-right"></span></button></li>
                </ul>
                <hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" />
                <ul class="am-thumbnail-caption am-avg-sm-1">
                  <li>
                    <div class="am-form-group am-form-file">
                      <%if (systemConfig.allowedUploadImageExtension != ""){%>
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-center">
                        <i class="am-icon-cloud-upload"></i> 上传图片
                      </button>
                      <input class="doc-form-file" name="productImages" type="file">
                      <%}else{%>
                      <button type="button" class="am-btn am-btn-danger am-btn-xs am-center" disabled="disabled">
                        <i class="am-icon-warning"></i> 不允许上传
                      </button>
                      <%}%>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
            
          <div class="am-alert am-alert-warning am-text-xs">
            <span class="am-icon-warning"> </span>
            <%if (systemConfig.allowedUploadImageExtension != ""){%>
            <%if ((systemConfig.uploadLimit != 0) && (systemConfig.uploadLimit < 1024)){%>
            小于${systemConfig.uploadLimit}KB
            <%}else if (systemConfig.uploadLimit >= 1024){%>
            小于${systemConfig.uploadLimit / 1024}MB
            <%}%> 
            <%for(list in strutil.split(systemConfig.allowedUploadImageExtension,@com.cxgm.common.SystemConfig.EXTENSION_SEPARATOR)){%>
            <%if (listLP.last){%>
            *.${list};
            <%}else{%>
            *.${list}
            <%}%>
            <%}%>
            <%}else{%>
            系统设置不允许上传图片文件!
            <%}%>
          </div>
        </div>
        
        <div class="am-tab-panel am-fade" id="tab3">
          <div class="am-form-group am-form-group-sm">
            <script id="editor" name="product.introduction" type="text/plain">
              ${product.introduction!}
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="am-margin">
      <button type="submit" class="am-btn am-btn-primary"> 保  存 </button>
      <button type="button" class="am-btn am-btn-default" onclick="window.history.back(); return false;"> 返  回 </button>
    </div>
    </form>
  </div>
</div>
<!-- content end -->
<script>
  $().ready(function() {
    
    // 商品图片左移
    $(".opr-img-left").livequery("click", function() {
        var $productImageLi = $(this).parent().parent().parent().parent();
        var $productImagePrevLi = $productImageLi.prev("li");
        if ($productImagePrevLi.length > 0) {
            $productImagePrevLi.insertAfter($productImageLi);
        }
    });
    
    // 商品图片右移
    $(".opr-img-right").livequery("click", function() {
        var $productImageLi = $(this).parent().parent().parent().parent();
        var $productImageNextLi = $productImageLi.next("li");
        if ($productImageNextLi.length > 0) {
            $productImageNextLi.insertBefore($productImageLi);
        }
    });
    
    // 商品图片删除
    $(".opr-img-delete").livequery("click", function() {
        var $productImageLi = $(this).parent().parent().parent().parent();
        $productImageLi.remove();
    });
    
    // 添加图片
    var productImageLiHtmlTemp = '<li><div class="am-thumbnail">'
        + '<div class="app-product-image-preview am-text-center am-text-warning">暂无图片</div>'
        + '<ul class="am-thumbnail-caption am-avg-sm-3">'
        + '<li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-left"><span class="am-icon-chevron-left"></span></button></li>'
        + '<li><button type="button" class="am-btn am-btn-default am-text-danger am-btn-xs am-center opr-img-delete" disabled="disabled"><span class="am-icon-trash"></span></button></li>'
        + '<li><button type="button" class="am-btn am-btn-default am-text-warning am-btn-xs am-center opr-img-right"><span class="am-icon-chevron-right"></span></button></li>'
        + '</ul><hr data-am-widget="divider" class="am-divider am-divider-dashed am-margin-0" /><ul class="am-thumbnail-caption am-avg-sm-1">'
        + '<li><div class="am-form-group am-form-file"><button type="button" class="am-btn am-btn-default am-btn-xs am-center"><i class="am-icon-cloud-upload"></i> 上传图片</button><input class="doc-form-file" name="productImages" type="file"></div></li>';
        + '</ul></div></li>';
        
    var index = 0;
    $("input.doc-form-file").livequery('change', function() {
      var $this = $(this);
      var $productImageLi = $this.parent().parent().parent().parent();
      var $productImagePreview = $productImageLi.find(".app-product-image-preview");
      var $productImageDeteleBtn = $productImageLi.find(".opr-img-delete");
      var fileName = $this.val().substr($this.val().lastIndexOf("\\") + 1);
      if (/(<%for(list in strutil.split(systemConfig.allowedUploadImageExtension,@com.cxgm.common.SystemConfig.EXTENSION_SEPARATOR)){%><%if (!listLP.last){%>.${list}|<%}else{%>.${list}<%}%><%}%>)$/i.test($this.val()) == false) {
        $.message("您选择的文件格式错误！");
        return false;
      }
      $productImagePreview.html('<img src="' + window.URL.createObjectURL($this[0].files[0]) + '" class="am-img-bdrs"><input type="hidden" name="productImageParameterTypes" value="productImageFile" />');
      if($productImageDeteleBtn.attr('disabled')){
          index++;
          $productImageDeteleBtn.attr('disabled',false);
          var productImageLiHtml = productImageLiHtmlTemp;
          productImageLiHtml = productImageLiHtml.replace("productImages", "productImages");
          $('#file-list').append(productImageLiHtml);
      }
    });
    
    $('#doc-my-tabs').find('a').on('opened.tabs.amui', function(e) {
      $('div.am-tab-panel').removeAttr("style");
    })
  });
</script>
</body>
</html>