<!doctype html>
<html class="no-js">
<head><% include("admin_head.html",{title: '添加/编辑消息推送',loadUE:
true,validatorJS: true, livequeryJS: true}){}%> <%var isAdd = false; var
isEdit = false; if(isEmpty(pushMessage.id)){ isAdd = true; }else{ isEdit =
true; }%>


</head>
<body>
	<!-- content start -->
	<div class="admin-content">
		<div class="admin-content-body">
			<div class="am-cf app-padding-title">
				<div class="am-fl am-cf">
					<strong class="am-text-primary am-text-lg">消息推送管理</strong> / <small><%if(isAdd){%>添加推送消息<%}else{%>编辑推送消息<%}%></small>
				</div>
			</div>

			<hr data-am-widget="divider"
				class="am-divider am-divider-dashed am-margin-0" />

			<form class="validator-form"
				action="<%if (isAdd){%>/pushMessage/save<%}else{%>/pushMessage/update<%}%>"
				enctype="multipart/form-data" method="post" name="myForm">
				<input type="hidden" id="shopId" name="shopId" value="${shopId!}" />
				<input type="hidden" id="pushMessageId" name="pushMessageId" value="${pushMessageId!}" />
				<div class="am-tabs am-margin" data-am-tabs="{noSwipe: 1}">
					<ul class="am-tabs-nav am-nav am-nav-tabs">
						<li class="am-active"><a href="#tab1">基本信息</a></li>
					</ul>

					<div class="am-tabs-bd am-form">
						<div
							class="am-tab-panel am-fade am-in am-active am-form-horizontal"
							id="tab1">
							<div class="am-form-group am-form-group-sm">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">消息名称</label>
								<div class="am-u-sm-8 am-u-md-9">
									<input type="text"
										class="am-form-field js-pattern-username" name="name"
										placeholder="消息名称" minlength="2" maxlength="20" required  value="${pushMessage.name!}"/>
								</div>
							</div>
							<div class="am-form-group am-form-group-sm">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">消息描述</label>
								<div class="am-u-sm-8 am-u-md-9">
									<input type="text"
										class="am-form-field js-pattern-username" name="description"
										placeholder="消息描述" minlength="2" maxlength="20" required  value="${pushMessage.description!}"/>
								</div>
							</div>
                            <%if (isAdd){%>
							<div class="am-form-group am-form-group-sm">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">消息类型</label>
								<div class="am-u-sm-8 am-u-md-9">
									  <select name="pushType" data-am-selected="{btnWidth: '100%', maxHeight: '200px', btnSize: 'sm'}" required>
						              	<option value="限时抢购"selected>限时抢购</option>
						              	<option value="客服助手">客服助手</option>
						              	<option value="通知消息">通知消息</option>
						              	<option value="最新资讯">最新资讯</option>
						              </select>
								</div>
							</div>

							<div class="am-form-group am-form-group-sm">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label">跳转类型</label>
								<div class="am-u-sm-8 am-u-md-9">
								<select  name="urlType" data-am-selected="{btnWidth: '100%', maxHeight: '200px', btnSize: 'sm'}" required onchange="showSelectValue(this)">
						              	<option value="1" selected>网站链接</option>
						              	<option value="2">商品详情</option>
						        </select>
								</div>
							</div>
							<%}%>
							
							<%if (isEdit){%>
							<%if (pushMessage.urlType=="1"){%>
							<div id="adverAddress" class="am-form-group am-form-group-sm" style="display:block;">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label" >跳转地址</label>
								<div class="am-u-sm-8 am-u-md-9">
									<input type="text"
										class="am-form-field" name="notifyUrl"
										placeholder="广告地址" value="${pushMessage.notifyUrl!}"/>
								</div>
							</div>
							<%}%>
							<%if (pushMessage.urlType=="2"){%>
							<div id="goodId" class="am-form-group am-form-group-sm" style="display:block;">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label" >商品名称</label>
								<div class="am-u-sm-8 am-u-md-9">
								<input type="hidden" id="productId" name="productId" />
					            <input type="text" class="am-form-field"  id="goodName" name="goodName" value="${pushMessage.goodName!}" onkeyup="test(this.value,event)"><br/>
								<select multiple="multiple" id="sel" onchange="test2()"
									style="width:300px;display:none">
								</select>
								</div>
							</div>
                            <%}%>
                            <%}%>
                            
                            <%if (isAdd){%>
							<div id="adverAddress" class="am-form-group am-form-group-sm" style="display:block;">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label" >广告地址</label>
								<div class="am-u-sm-8 am-u-md-9">
									<input type="text"
										class="am-form-field" name="notifyUrl"
										placeholder="广告地址" value="${pushMessage.notifyUrl!}"/>
								</div>
							</div>
							<div id="goodId" class="am-form-group am-form-group-sm" style="display:none;">
								<label class="am-u-sm-4 am-u-md-3 am-text-right am-form-label" >商品名称</label>
								<div class="am-u-sm-8 am-u-md-9">
								<input type="hidden" id="productId" name="productId" />
					            <input type="text" class="am-form-field"  id="goodName" name="goodName" value="${pushMessage.goodName!}" onkeyup="test(this.value,event)"><br/>
								<select multiple="multiple" id="sel" onchange="test2()"
									style="width:300px;display:none">
								</select>
								</div>
							</div>
                            <%}%>
						</div>
						
						<div class="am-margin">
							<button type="submit" class="am-btn am-btn-primary">
								<span class="am-icon-save"> 保 存</span>
							</button>
							<button type="button" class="am-btn am-btn-default"
								onclick="window.history.back(); return false;">
								<span class="am-icon-undo"> 返 回</span>
							</button>
						</div>
			</form>
		</div>
	</div>
	<!-- content end -->

	<script>
		function showSelectValue(){
	        var selectvalue=document.myForm.urlType.value;  
	        if(selectvalue=='1'){
	        	document.getElementById('adverAddress').style.display = "block";
	        	document.getElementById('goodId').style.display = "none";
	        }else{
	        	document.getElementById('goodId').style.display = "block";
	        	document.getElementById('adverAddress').style.display = "none";
	        }
	       
	   }
		
		  //下拉选择商品
		  function test(keyword,event){
			
			//定义全局变量
			var keyword = $("#goodName").val();
			
			var shopId = $("#shopId").val();
			var sel = document.getElementById("sel");
			
			$.ajax({ 
				type: "post", 
				data:{'goodName':keyword,'shopId':shopId}, 
				url: "/advertisement/product/list", 
				success: function(data) {
					
					document.getElementById("sel").innerHTML="";
					
					for(var i=0;i<data.length;i++){//循环每一个满足条件的记录
						//将当前循环满足条件的商品名称生成一个下拉的选项
						sel.options[i]=new Option(data[i].name,data[i].id);
					}
					//判断是否有满足条件的商品
					if(data.length>0){
						sel.style.display='block';
					}else{
						sel.style.display='none';
					}
					//当用户按下上下键时获取相应的值
					if(event.keyCode==40){
						sel.focus();
					}	
				} 
				});
		}
		 
		 function test2(){
			//输入回车，获取输入框内容焦点
			$("#sel").keypress(function(){
					$("#goodName").focus();
					$("#sel").css("display","none");
			});
			 //双击，获取输入框内容焦点
			 $("#sel").dblclick(function(){
				 $("#goodName").focus();
				 $("#sel").css("display","none");
			 });
			 //将选中的下拉列表中的内容添加到输入框中
			$("#goodName").val($("#sel option:selected").html());
			$("#productId").val($("#sel option:selected").val());
			
		}
	</script>
</body>
</html>


